body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden; /* Esconde o conteúdo extra */
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin-bottom: 0;
    max-height: 100px; /* Altura máxima inicial do conteúdo */
    overflow: hidden; /* Esconde o conteúdo que excede a altura máxima */
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}
